/* Tipografias */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600&display=swap');

@import 'buttons.scss';

/* Estilos generales para la tipografia */
html, body{ font-family: 'Open Sans', sans-serif; }
.open-sans{ font-family: 'Open Sans', sans-serif; }
.montserrat{ font-family: 'Montserrat', sans-serif; }

h1.montserrat{ font-family: 'Montserrat', sans-serif; font-size: 36px; }

.fw-1{ font-weight: 100; }
.fw-2{ font-weight: 200; }
.fw-3{ font-weight: 300; }
.fw-4{ font-weight: 400; }
.fw-5{ font-weight: 500; }
.fw-6{ font-weight: 600; }

.black{ color: #494748; }
.gray{ color: #747377; }
.green{ color: #239CA0; }