.formulario{
  width: 100%;
  form{
    width: 100%;
    padding: 10px;
    .form-control{
      border: 1px solid #ececec;
      -webkit-box-shadow: none;
      box-shadow: none;
      height: 41px;
      color: #494748;
      font-size: 0.875rem;
      &::placeholder{
        color: #b6b8ba;
        font-weight: 100;
      }
    }
    .gradient-button{
      width: 100%;
    }
  }
  .bottom35{ margin-bottom: 35px; }
}