section.fundador{
	min-height: 600px;
	padding: 50px 0;
	.f-left{
		background: url('~@/assets/images/icons/eagle.png') center center no-repeat;
		background-size: contain;
		height: 500px;
		width: 70%;
		.texto{
			width: 70%;
			margin: 0 auto;
		}
	}

	.f-right{
		width: 30%;
		.circular-portrait {
			position: relative;
			width: 350px;
			height: 350px;
			overflow: hidden;
			border-radius: 50%;
			img {
				width: 130%;
				height: auto;
			}
		}
	}
}

/* On screens that are 768px or less, set the background color to blue */
@media screen and (max-width: 768px) {
	section.fundador {
		.f-left{
			width: 100%;
			.texto{
				width: 90%;
			}

			.gradient-button{
				width: 100%;
			}
		}
		.f-right{
			width: 100%;
			justify-content: center !important;
		}
	}
}