article.nosotros-1{
  background: #23496C;
  min-height: 680px;
	width: 100%;
	padding: 50px 0;
	.margin-special{ margin-top: -100px; }
	.timeline{
		width: 70%;
		min-height: 100px;
		position: relative;
		.line{
			width: 95%;
			height: .5px;
			background: #FFFFFF;
			position: absolute;
			top: 65px;
			left: 50px;
		}
		.spot{
			background: #239CA0;
			width: 100px;
			height: 100px;
			border-radius: 50%;
			border: 1px solid #FFFFFF;
			position: relative;
			transition: all 0.3s ease-in-out;
			background-size: 200% auto;
			&:hover{
				cursor: default;
				background-image: linear-gradient(to right, #239CA0 0%, #40BABE 51%, #239CA0 100%);
			}
			h1 { margin-bottom: 0; }
			.description{
				width: 200px;
				position: absolute;
				top: 110px;
				color: white;
				p {
					font-size: 22px;
					text-align: center;
				}
				.detail-description{
					font-size: 18px;
					text-align: center;
				}
			}
			
		}
	}
}

article.nosotros-2{
	min-height: 425px;
	padding: 50px 0;
	.us-left{
		max-width: 500px;
		max-height: 400px;
	}
	.us-right{
		max-width: 610px;
		h1{ text-align: right; }
		p{ 
			text-align: justify; 
			font-size: 16px;
		}
	}
}

article.nosotros-3{
	height: 175px;
	width: 100%;
	background: url('~@/assets/images/photos/polygon.png') center center no-repeat;
}

/* Resoluciones entre 769 y 1200 px */
@media screen and (min-width: 769px) and (max-width: 1200px) {
	article.nosotros-1 {
		.timeline{
			.line{
				width: 90%;
			}
			.spot{
				.description{
					p{ font-size: 16px; }
					.detail-description{ display: none; }
				}
			}
		}
	}
}

/* Resoluciones menores a 768px */
@media screen and (max-width: 768px) {
	article.nosotros-1 {
		.margin-special{ margin-top: 0px; }
		.timeline{
			.line{
				display: none;
			}
			.spot{
				.description{
					top: 0px;
					left: 100px;
					width: 250px;
					p{ margin-bottom: 0; }
				}
			}
		}
	}

	article.nosotros-2{
		.us-right{
			width: 90%;
			h1{ text-align: center; }
			.gradient-button{
				width: 100%;
			}
		}
	}
}